---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=synthead
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8237eeeaa7ebf7eb2b266d7bfc162b39"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=synthead&with_custom_attributes=false&without_project_bots=false>;
        rel="first", <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=synthead&with_custom_attributes=false&without_project_bots=false>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
      Ratelimit-Observed:
      - '8'
      Ratelimit-Remaining:
      - '1992'
      Ratelimit-Reset:
      - '1652131975'
      Ratelimit-Resettime:
      - Mon, 09 May 2022 21:32:55 GMT
      Ratelimit-Limit:
      - '2000'
      Gitlab-Lb:
      - fe-07-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: ASCII-8BIT
      string: '[{"id":1477621,"username":"synthead","name":"Maxwell Pray","state":"active","avatar_url":"https://gitlab.com/uploads/-/system/user/avatar/1477621/avatar.png","web_url":"https://gitlab.com/synthead"}]'
  recorded_at: Mon, 09 May 2022 21:31:56 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/1169162/merge_requests/10/commits?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4f53cda18c2baa0c0354bb5f9a3ecbe5"
      Link:
      - <https://gitlab.com/api/v4/projects/1169162/merge_requests/10/commits?id=1169162&merge_request_iid=10&page=1&per_page=100>;
        rel="first", <https://gitlab.com/api/v4/projects/1169162/merge_requests/10/commits?id=1169162&merge_request_iid=10&page=1&per_page=100>;
        rel="last"
      X-Gitlab-Meta:
      - '{"correlation_id":"8c259e7793d1bc716f104ada5958bbfb","version":"1"}'
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '100'
      X-Prev-Page:
      - ''
      X-Total:
      - '0'
      X-Total-Pages:
      - '1'
      Gitlab-Lb:
      - haproxy-main-19-lb-gprd
      Gitlab-Sv:
      - api-gke-us-east1-c
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 23 Sep 2024 21:09:15 GMT
[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/1169162/merge_requests/10/notes?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"dc5f1185f86eed755a2a430a125c8e67"
      Link:
      - <https://gitlab.com/api/v4/projects/1169162/merge_requests/10/notes?activity_filter=all_notes&id=1169162&noteable_id=10&order_by=created_at&page=1&per_page=100&sort=desc>;
        rel="first", <https://gitlab.com/api/v4/projects/1169162/merge_requests/10/notes?activity_filter=all_notes&id=1169162&noteable_id=10&order_by=created_at&page=1&per_page=100&sort=desc>;
        rel="last"
      X-Gitlab-Meta:
      - '{"correlation_id":"efa6caa4cdeac7e73e18b07208fe06f9","version":"1"}'
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '100'
      X-Prev-Page:
      - ''
      X-Total:
      - '2'
      X-Total-Pages:
      - '1'
      Gitlab-Lb:
      - haproxy-main-11-lb-gprd
      Gitlab-Sv:
      - api-gke-us-east1-d
    body:
      encoding: ASCII-8BIT
      string: '[{"id":36005564,"type":null,"body":"![image](/uploads/985f268ee941b49994d694f60b3e5203/image.png)","attachment":null,"author":{"id":1477621,"username":"synthead","name":"Maxwell
        Pray","state":"active","locked":false,"avatar_url":"https://gitlab.com/uploads/-/system/user/avatar/1477621/avatar.png","web_url":"https://gitlab.com/synthead"},"created_at":"2017-07-26T17:34:57.572Z","updated_at":"2017-07-26T17:34:57.572Z","system":false,"noteable_id":4385181,"noteable_type":"MergeRequest","project_id":1169162,"resolvable":false,"confidential":false,"internal":false,"imported":false,"imported_from":"none","noteable_iid":10,"commands_changes":{}},{"id":36005529,"type":null,"body":"Test
        comment","attachment":null,"author":{"id":1477621,"username":"synthead","name":"Maxwell
        Pray","state":"active","locked":false,"avatar_url":"https://gitlab.com/uploads/-/system/user/avatar/1477621/avatar.png","web_url":"https://gitlab.com/synthead"},"created_at":"2017-07-26T17:34:19.879Z","updated_at":"2017-07-26T17:34:19.879Z","system":false,"noteable_id":4385181,"noteable_type":"MergeRequest","project_id":1169162,"resolvable":false,"confidential":false,"internal":false,"imported":false,"imported_from":"none","noteable_iid":10,"commands_changes":{}}]'
  recorded_at: Mon, 23 Sep 2024 21:09:15 GMT
recorded_with: VCR 6.3.1
